<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://ciglobal.net" target="_blank"
    >
      ciglobal
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/taotao033/ciglobal-gpt" target="_blank"
    >
      Source Code
    </a>
  </p>
</footer>
